<div class="filter-level">
    <h4>
      <span style="color: #007ad9">STEP {{id + 1}}{{data.eventName && ':'}}</span>
      <span *ngIf="data.eventName"> {{data.eventName}}</span>
    </h4>
  
    <div class="row-item">
      <!-- <select [(ngModel)]="data.eventName" (change)="truncateConditions(); emitUpdate()">
        <option value=""> ... </option>
        <option *ngFor="let event of filterService.getEvents()" [value]="event.name">{{event.name}}</option>
      </select>  -->

      <p-dropdown [options]="eventNames()" [(ngModel)]="data.eventName" (onChange)="truncateConditions()"
        filter="true" placeholder="Select an event" 
        [style]="{'width':'200px'}" [autoWidth]="false">
        <!-- <ng-template let-item pTemplate="selectedItem">
          <span style="vertical-align: middle; margin-left: .5em">{{item.label}}</span>
        </ng-template> -->
        <ng-template let-item pTemplate="item">
          <div>{{item.label}}</div>
        </ng-template>
      </p-dropdown>
    </div>
    
    <div class="row-item" *ngIf="data.eventName">
      <app-filter-level-condition *ngFor="let cond of data.conditions; let i = index" 
      [data]="data.conditions[i]" [eventName]="data.eventName" [index]="i"
      (deleteCondition)="deleteCondition($event)"></app-filter-level-condition>
      <div>
        <a class="add" (click)="addCondition()">{{data.conditions.length === 0 ? 'add an event attribute' : 'refine more'}}</a>
      </div>
    </div>

    <div class="filter-menu">
      <a (click)="emitCopy()" class="far fa-copy"></a>
      &nbsp;
      <a (click)="emitDelete()" class="far fa-trash-alt"></a>
    </div>
  </div>