.filter-level {width: 100%; box-sizing: border-box; margin: 20px 0; position: relative;}
.filter-level:hover .filter-menu{display: block;}

h4 {font-weight: normal; padding: 0;}
select, input, .add {display: inline-block; vertical-align: middle;}

.add {height: 30px; line-height: 30px;}

.filter-menu {position: absolute; right: 0; top: 0; display: none}
.filter-menu span {cursor: pointer;}