<div style="margin-bottom: 10px">  
  <div class="row-item">
    <!-- <select name="attributeName" id="attributeName" [(ngModel)]="data.attributeName" (change)="change.emit()">
      <option value=""> ... </option>
      <option *ngFor="let attr of filterService.getEventAtributes(eventName)" [value]="attr">{{attr}}</option>
    </select> -->

    <p-dropdown [options]="attributeNames(eventName)" [(ngModel)]="data.attributeName" (onChange)="change.emit()" [style]="{'width':'180px'}" placeholder="Select an attribute" filter="true">
      <ng-template let-item pTemplate="item">
        <div>{{item.label}}</div>
      </ng-template>
    </p-dropdown>
  </div>

  <div *ngIf="data.attributeName" class="row-item">
    <!-- <select [(ngModel)]="data.operator" (change)="change.emit()">
      <option value=""> ... </option>
      <option *ngFor="let o of filterService.getOperators()" [value]="o">{{o}}</option>
    </select> -->
   
    <p-dropdown
      [options]="operatorNames" 
      [(ngModel)]="data.operator" 
      (onChange)="change.emit()" 
      placeholder="operator"
      [style]="{'width':'180px'}">
    </p-dropdown>
  </div>

  <div *ngIf="data.attributeName && data.operator" class="row-item">
    <input type="text" [(ngModel)]="data.value" (change)="change.emit()" />
  </div>

  <div class="row-item">
    <a class="delete-condition" (click)="deleteCondition.emit(index)"> x</a>
  </div>
</div>