* {font-size: 16px;}

.filter {background-color: white; padding: 20px; margin: 20px 0; border: solid 1px #007ad9;}
#buttons button {margin-right: 20px;}
button {background-color: #f4ce3b; color: black; border-radius: 3px; border: 0; padding: 5px 10px; font-weight: normal; font-size: 16px;}

textarea {font-size: 10px;}