<select name="lang" (change)="changeLanguage($event)" >
  <option value="sk">SK</option>
  <option value="EN">EN</option>
</select>

<div style="clear: both;" class="filter">
  <div *ngFor="let flv of value; let i = index">
    <app-filter-level [id]="i" [data]="flv"></app-filter-level>
  </div>

  <div style="text-align: center">
    <a class="add-filter-level" (click)="addFilterLevel()">+ Add funnel step</a>
  </div>
</div>

<div id="buttons">
  <button (click)="applyFilters()">Apply filters</button>
  <button (click)="truncateFilters()">Empty filters</button>
  <a (click)="dataPreview = !dataPreview">{{ dataPreview ? 'Hide' : 'Show' }} data preview</a>
</div>

<textarea *ngIf="dataPreview" style="width: 100%; height: 350px; margin-top: 20px;">{{value | json}}</textarea>

